<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.2.0" targetFramework="net452" />
  <package id="AutoMapper" version="5.1.1" targetFramework="net452" />
  <package id="EventFlow" version="0.37.2424" targetFramework="net452" />
  <package id="EventFlow.Autofac" version="0.37.2424" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net452" />
</packages>