<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.3-beta1" targetFramework="net452" />
  <package id="dbup" version="3.3.5" targetFramework="net452" />
  <package id="EventFlow" version="0.37.2424" targetFramework="net452" />
  <package id="EventFlow.MsSql" version="0.37.2424" targetFramework="net452" />
  <package id="EventFlow.Sql" version="0.37.2424" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.2-beta1" targetFramework="net452" />
</packages>