<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net451" />
  <package id="dbup" version="3.3.0" targetFramework="net451" />
  <package id="EventFlow" version="0.37.2424" targetFramework="net451" />
  <package id="EventFlow.MsSql" version="0.37.2424" targetFramework="net451" />
  <package id="EventFlow.Sql" version="0.37.2424" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net451" />
</packages>